@tailwind base;
@tailwind components;

.input-label {
  @apply block text-lg font-medium leading-5 text-gray-700;
}

.validation-error {
  @apply mt-2 text-sm text-red-600;
}

.input {
  @apply block w-full p-2 border-2 rounded-md;
}

.input:focus {
  @apply border-gray-500 outline-none;
}

.input-error {
  @apply text-red-900 border-red-300;
}

.input-error:focus {
  @apply border-red-500;
}

@screen sm {
  .input {
    @apply text-lg leading-6;
  }
}

@tailwind utilities;

@import "~@fortawesome/fontawesome-free/css/fontawesome.css";
@import "~@fortawesome/fontawesome-free/css/solid.css";
@import "~@fortawesome/fontawesome-free/css/brands.css";

html {
  scroll-behavior: smooth;
}

[x-cloak] {
  display: none;
}

body {
  background-image: radial-gradient(#ddd 1px, transparent 0), radial-gradient(#ddd 1px, transparent 0);
  background-position: 0 0, 25px 25px;
  background-attachment: fixed;
  background-size: 50px 50px;
  overflow-x: hidden;
}

@media (min-width: 640px) {
  .x-main {
    min-height: calc(100vh - 4rem);
  }
}
